{{define "title"}}Вхот{{end}}

{{define "main"}}
<form action='/user/login' method='POST' novalidate>
    <!-- Include the CSRF token -->
    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
    {{range .Form.NonFieldErrors}}
        <div class='error'>{{.}}</div>
    {{end}}
    <div>
        <label>Ваш доменный аккаунт(для рабочей станции)</label>
        
        {{with .Form.FieldErrors.login}}
            <label class='error'>{{.}}</label>
        {{end}}
        
        <input type='text' name='login' value='{{.Form.Login}}'>
    </div>
    <div>
        <label>Пароль</label>
        {{with .Form.FieldErrors.password}}
            <label class='error'>{{.}}</label>
        {{end}}
        <input type='password' name='password'>
    </div>
    <div>
        <input type='submit' value='Login'>
    </div>
</form>
{{end}}