{{define "title"}}Ваш QR{{end}}

{{define "main"}}
    <h2>{{.Username}}, Ваш QR:</h2>
    {{if .QR}}
    <div class="qr">
        {{.QR}}
    </div>
    {{else}}
    <b>НЕ НAЙДЕН!</b>
    {{end}}
{{end}}