# ignore all
*

# except
!README.md
!.gitignore
!go.mod

!cmd/multiotp-ldap-users-web-portal/main.go
!cmd/multiotp-ldap-users-web-portal/handlers.go
!cmd/multiotp-ldap-users-web-portal/middleware.go
!cmd/multiotp-ldap-users-web-portal/routes.go
!cmd/multiotp-ldap-users-web-portal/templates.go
!cmd/multiotp-ldap-users-web-portal/context.go
!cmd/multiotp-ldap-users-web-portal/helpers.go

!internal/qrwork/qrwork.go
!internal/multiotp/multiotp.go
!internal/validator/validator.go

!ui/efs.go
!ui/html/**.tmpl
!ui/static/css/main.css
!ui/static/img/favicon.ico
!ui/static/img/logo.png
!ui/static/js/main.js

!data/dataembed.go