# ignore all
*

# except
!README.md
!.gitignore
!go.mod

!cmd/multiotp-ldap-users-web-portal/main.go

!internal/qrwork/qrwork.go
!internal/multiotp/multiotp.go

!ui/efs.go
!ui/html/**.tmpl
!ui/static/css/main.css
!ui/static/img/favicon.ico
!ui/static/img/logo.png
!ui/static/js/main.js
