{{define "title"}}Ваш QR{{end}}

{{define "main"}}
    <h2>{{.Username}}, Ваш QR:</h2>
    {{if .QR}}
    <div class="qr">
        {{.QR}}
    </div>
    {{else}}
    <b>НЕ НAЙДЕН!</b>
    {{end}}
    <div>
        <p>Для перевыпуска QR кода нажмите на ссылку <b>"Перевыпустить QR"</b> в шапке страницы.</p>
        <p>Перевыпуск требуется в случае компрометации QR кода, например, в случае утери телефона.</p>
        <p><b>Перевыпуск занимает какое-то время(10с или более), обязательно дождитесь окончания!</b></p>
        <p>После окончания вы увидите баннер <b>"Ваш QR перевыпущен!"</b> или <b>"Ваш QR НЕ перевыпущен!"</b></p>
    </div>
{{end}}